# Ignora arquivos de ambiente
.env

# Ignora virtual env
venv/
.env/

# Ignora caches do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignora arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.vscode/
.idea/
